<div class="container col-lg-9 offset-lg-3 col-md-6 offset-md-5 col-sm-5 offset-sm-2 cardsDom">
    <div class="row">
        <div id="card1" class="card mb-3 col-lg-4 offset-lg-2 col-md-11 offset-md-2 col-sm-11 offset-sm-2" style="background: linear-gradient(135deg, #23bdb8 0, #43e794 100%) !important; max-width: 18rem; float: left; margin: 2%;">
            <div style="font-size: 220%;">Visitors</div>
            <div class="card-body text-primary">
                <h5 class="card-title"><i class="far fa-eye"></i> 1000</h5>
                <p class="card-text" style="color: white;">18% Higher Then Last Month</p>
            </div>
        </div>
        <div id="card2" class="card mb-3 col-lg-4 offset-lg-2 col-md-11 offset-md-2 col-sm-11 offset-sm-2" style="max-width: 18rem; float: left; margin: 2%;">
            <div style="font-size: 220%;">User Login</div>
            <div class="card-body text-secondary">
                <h5 class="card-title"> <i class="fas fa-user-tie"></i> 880</h5>
                <p class="card-text" style="color: white;">19% Higher Then Last Month</p>
            </div>
        </div>
        <div id="card3" class="card mb-3 col-lg-4 offset-lg-2 col-md-11 offset-md-2 col-sm-11 offset-sm-2" style=" max-width: 18rem; float: left; margin: 2%;">
            <div style="font-size: 220%;">Total User</div>
            <div class="card-body text-success">
                <h5 class="card-title"><i class="fas fa-users"></i> 1500</h5>
                <p class="card-text" style="color: white;">15% Higher Then Last Month</p>
            </div>
        </div>
        <div id="card4" class="card mb-3 col-lg-4 offset-lg-2 col-md-11 offset-md-2 col-sm-11 offset-sm-2" style="max-width: 18rem;  margin: 2%;">
            <div style="font-size: 250%;">Active Users</div>
            <div class="card-body text-danger">
                <h5 class="card-title"><i class="far fa-smile"></i> 2000</h5>
                <p class="card-text" style="color: white;">30% Higher Then Last Month</p>
            </div>
        </div>

        <div id="card5" class="card mb-3 col-lg-4 offset-lg-2 col-md-11 offset-md-2 col-sm-11 offset-sm-2" style="max-width: 18rem;  margin: 2%;">
            <div style="font-size: 250%;">Loss</div>
            <div class="card-body text-danger">
                <h5 class="card-title"><i class="far fa-frown"></i> $1,00,000</h5>
                <p class="card-text" style="color: white;">10% Higher Then Last Month</p>
            </div>
        </div>

        <div id="card6" class="card mb-3 col-lg-4 offset-lg-2 col-md-11 offset-md-2 col-sm-11 offset-sm-2" style="max-width: 18rem;  margin: 2%;">
            <div style="font-size: 250%;">Profit</div>
            <div class="card-body text-danger">
                <h5 class="card-title"><i class="fas fa-money-check-alt"></i> $20,000</h5>
                <p class="card-text" style="color: white;">30% Higher Then Last Month</p>
            </div>
        </div>
    </div>
</div>
<br>
<!-- Pie Chart -->
<div class="container-fluid col-lg-3 offset-lg-3 col-md-5 offset-md-1 col-sm-5 offset-sm-2" style="float: left; ">
    <div class="row">
        <div id="card" class="card mb-3 col-lg-12 offset-lg-1 col-md-11 offset-md-1 col-sm-11 offset-sm-1" style="float: left; background-image: linear-gradient(to right top, #030332, #010b38, #00113f, #001546, #00194d, #00194c, #00184c, #00184b, #001442, #000f39, #010831, #000029); max-width: 18rem; float: left; margin: 2%; box-shadow: 5px 10px 8px 10px #020125">
            <div style="font-size: 250%; color: white">Profile Ratio</div>
            <div class="pie offset-lg-1">
                <div class="pieText offset-lg-2" style="margin-top: 20%;">
                    <ul>
                        <li style="font-size: 200%; color: #5b668a;">Visitor</li>
                        <li style="font-size: 200%; color: #6610f2;">Profit</li>
                        <li style="font-size: 200%; color: #1cc88a;">User</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<!-- Image -->
<!-- <div class="container col-lg-3 offset-lg-7 col-md-6 offset-md-1 col-sm-6 offset-sm-2 graph">
    <div class="row">
        <img src="../../assets/image/graph1.jpg" width="160%;" height="400px;">
    </div>
</div> -->

<br>

<br>
<br>
<br>