<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Profile <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Offers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">New Product</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
            </li>
        </ul>

    </div>
</nav>

<!-- ///////////////////////////////////////////////LEFT//////////////////////////////////////////////////// -->
<nav class="side-navbar side-open bg-light position-fixed">
    <div class="side-navbar-wrapper">
        <div class="sidenav-header-inner text-center justify-content-center py-5">
            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg" alt="user" class="rounded-circle" />
            <h5 class="text-light user-name text-dark">I have a dream</h5>
            <p class="text-secondary user-area">Miqueas.bsantos@gmail.com</p>
        </div>
    </div>
    <div class="side-navbar-wrapper main-container-side">
        <ul class="list-group text-white">
            <li class="list-group-item active d-flex justify-content-between">
                <span class="user-op">Meu carrinho</span>
                <span class="badge badge-danger badge-pill rounded-0">
            14
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          </span>
            </li>
            <li class="list-group-item bg-light d-flex justify-content-between">
                <span class="user-op">Dados Pessoais</span>
                <span class="badge badge-dark badge-pill rounded-0">
            <i class="fa fa-user-o" aria-hidden="true"></i>
          </span>
            </li>
            <li class="list-group-item bg-dark d-flex justify-content-between">
                <span class="user-op">Endereços</span>
                <span class="badge badge-dark badge-pill rounded-0">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
          </span>
            </li>
            <li class="list-group-item bg-dark d-flex justify-content-between">
                <span class="user-op">Cartões</span>
                <span class="badge badge-dark badge-pill rounded-0">
            <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
          </span>
            </li>
            <li class="list-group-item bg-dark badge-dark d-flex justify-content-between">
                <span class="user-op">Lista de desejos</span>
                <span class="badge badge-dark badge-pill rounded-0">
            <i class="fa fa-list-ul" aria-hidden="true"></i>
          </span>
            </li>
        </ul>
    </div>
</nav>


<div class="container">
    <div class="row">

    </div>
</div>